/*-- scss:defaults --*/

// Fonts
$font-family-serif: "Charis SIL";
$font-family-sans-serif: "Fira Sans";
$font-family-monospace: "Fira Mono";

// Document colours
$primary: #03035e;
$body-bg: #000019;
$body-color: #f5f5f5;
$link-color: #8c8cfb;
$navbar-bg: $primary;
$navbar-fg: $body-color;
$code-bg: #000000;
$code-color: #bbbbff;