/*-- scss:defaults --*/

// Fonts
$font-family-serif: "Charis SIL";
$font-family-sans-serif: "Fira Sans";
$font-family-monospace: "Fira Mono";

// Document colours
$primary: #aa0000;
$body-bg: #f0f0f0;
$body-color: #000000;
$link-color: $primary;
$navbar-bg: $primary;
$navbar-fg: $body-bg;
$code-bg: #e3e3e3;
$code-color: #03035e;