/* Custom css */

/* FONTS */

@font-face {
  font-family: 'Charis SIL';
  src: url('fonts/CharisSIL-B.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Charis SIL';
  src: url('fonts/CharisSIL-BI.ttf') format('truetype');
  font-style: italic;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Charis SIL';
  src: url('fonts/CharisSIL-I.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Charis SIL';
  src: url('fonts/CharisSIL-R.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Fira Mono';
  src: url('fonts/FiraMono-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Fira Mono';
  src: url('fonts/FiraMono-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('fonts/FiraSans-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('fonts/FiraSans-BoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('fonts/FiraSans-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('fonts/FiraSans-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* STYLE */

/*
#quarto-document-content {
  margin-right: 10%;
  margin-left: 10%;
}
*/

.navbar-title {
  font-weight: bold;
  text-align: left;
  font-size: 1.9rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

h1 {
  font-size: 1.3rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.1rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.95rem;
}

h6 {
  font-size: 0.9rem;
}

p {
  text-align: justify;
  font-size: 0.9rem;
  margin-bottom: 0.75rem;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
